<div class="loginContainer">
  <div class="loginBox" [formGroup]="form">
    <h1>Zaloguj</h1>

    <mat-form-field appearance="fill">
      <mat-label>Podaj swojego maila</mat-label>
      <input
        matInput
        placeholder="krecik@nabicie.pl"
        formControlName="email"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Podaj swoje hasło</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button id="submit" (click)="submit()">Zaloguj</button>

    <br />
    <span
      >Nie masz konta ? Możesz klinąć w
      <a href="" routerLink="/register">link</a>
      by się zarejestrować</span
    >
  </div>
</div>
